[project]
name = stx
gituser = STX Builder
gitemail = stx.builder@opendev.org
proxy = false
proxyserver = opendev.org
proxyport = 8080
buildbranch = master
manifest = default.xml
ostree_osname = debian
debian_distribution = bullseye
debian_snapshot = http://snapshot.debian.org/archive/debian/20220331T000000Z
debian_security_snapshot = http://snapshot.debian.org/archive/debian-security/20220331T000000Z

[builder]
uid = 1000
myuname = builder
release = 6.0
dist = bullseye
stx_dist = .stx
debfullname = STX Builder
debemail = stx.builder@opendev.org

[pkgbuilder]
mode = local

[repomgr]
type = aptly
cengnurl = http://mirror.starlingx.cengn.ca:80/mirror
cengnstrategy = cengn_first
sourceslist =
deblist =
dsclist =

[aptly]
mode = local

[pulp]
mode = local

[default]
name = stx

