[project]
name = stx
gituser = STX Builder
gitemail = stx.builder@opendev.org
proxy = false
proxyserver = opendev.org
proxyport = 8080
buildbranch = master
manifest = default.xml
ostree_osname = debian
debian_distribution = bullseye
debian_version = 11.3

# These URLs must contain snapshots of debian & debian-security repos.
# We will append debian_snapshot_timestamp to each of them when creating
# apt.sources lists
debian_snapshot_base = http://snapshot.debian.org/archive/debian
debian_security_snapshot_base = http://snapshot.debian.org/archive/debian-security
debian_snapshot_timestamp = 20220331T000000Z

[builder]
uid = 1000
myuname = builder
release = 6.0
dist = bullseye
stx_dist = .stx
debfullname = STX Builder
debemail = stx.builder@opendev.org

[pkgbuilder]
mode = local

[repomgr]
type = aptly
cengnurl = http://mirror.starlingx.cengn.ca:80/mirror
cengnstrategy = cengn_first
sourceslist =
deblist =
dsclist =

# This will be added to "Origin:" field in the Release file
# of the local deb repos
origin = starlingx

[aptly]
mode = local

[pulp]
mode = local

[default]
name = stx

