---
schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: $NAME$
data:
  chart_name: $NAME$
  release: $NAME$
  namespace: $NAMESPACE$
  test:
    enabled: false
  wait:
    timeout: $WAIT%600$
    labels:
      $WAIT_LABEL_KEY$: $RELEASE_PREFIX$-$NAME$
  install:
    no_hooks: false
  upgrade:
    no_hooks: false
  @VALUES|2@
  source:
    type: tar
    location: http://172.17.0.1:8080/helm_charts/starlingx/$TARBALL_NAME$
    subpath: $CHART_ARCNAME$
  dependencies: []

