---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "stx-lat-tool.fullname" . }}
  labels:
    {{- include "stx-lat-tool.labels" . | nindent 4 }}
spec:
{{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
{{- end }}
  selector:
    matchLabels:
      {{- include "stx-lat-tool.selectorLabels" . | nindent 6 }}
  template:
    metadata:
    {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      labels:
        {{- include "stx-lat-tool.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.global.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          tty: true
          volumeMounts:
          - name: {{ .Values.volumeMounts.workspace.name }}
            mountPath: {{ .Values.volumeMounts.workspace.mountPath }}
          - name: {{ .Values.volumeMounts.entropy.name }}
            mountPath: {{ .Values.volumeMounts.entropy.mountPath }}
          - name: {{ .Values.volumeMounts.patchConfig.name }}
            mountPath: {{ .Values.volumeMounts.patchConfig.mountPath }}
            subPath: {{ .Values.volumeMounts.patchConfig.subPath }}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}

      dnsConfig:
        {{- toYaml .Values.dnsConfig | nindent 8 }}

      volumes:
      - name: {{ .Values.volumes.workspace.name }}
        hostPath:
          path: {{ .Values.global.hostDir }}{{ .Values.volumes.workspace.hostPath.path }}
      - name: {{ .Values.volumes.entropy.name }}
        hostPath:
          path: {{ .Values.volumes.entropy.hostPath.path }}
      - name: {{ .Values.volumes.patchConfig.name }}
        configMap:
          name: {{ .Values.volumes.patchConfig.configMapName }}


      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
