# Release Variable
export MY_RELEASE=@MY_RELEASE@

# avoid calling your project 'build' it will break some SDEBs
export PROJECT=@PROJECT@

# uid
export MYUID=@MYUID@

# These are used in the Dockerfile, not sure where else
export MYUNAME=@MYUNAME@

export DIST=@DIST@

export STX_DIST=@STX_DIST@

export REPOMGR_TYPE=@REPOMGR_TYPE@

export GITUSER="@GITUSER@"

export GITEMAIL=@GITEMAIL@

export DEBFULLNAME="@DEBFULLNAME@"

export DEBEMAIL=@DEBEMAIL@

export PROXY=@PROXY@

export PROXYSERVER=@PROXYSERVER@

export PROXYPORT=@PROXYPORT@

export BUILD_BRANCH=@BUILDBRANCH@

export MANIFEST=@MANIFEST@

export HOSTUSERNAME=@HOSTUSERNAME@

export CENGNURL=@CENGNURL@
# CENGN_STRATEGY value: [ cengn|cengn_first|upstream|upstream_first ]
export CENGN_STRATEGY=@CENGNSTRATEGY@

export STX_MIRROR_URL=@STX_MIRROR_URL@

# STX_MIRROR_STRATEGY value: [ stx_mirror|stx_mirror_first|upstream|upstream_first ]
export STX_MIRROR_STRATEGY=@STX_MIRROR_STRATEGY@

if [[ x"@fetch@" == x"true" ]];then
    export SOURCESLIST=/usr/local/bin/stx/@SOURCESLIST@
    export DEBLIST=/usr/local/bin/stx/@DEBLIST@
    export DSCLIST=/usr/local/bin/stx/@DSCLIST@
fi

export REPOMGR_URL=http://@PROJECT@-stx-repomgr:8080

export REPOMGR_DEPLOY_URL=http://@PROJECT@-stx-repomgr:80/

export REPOMGR_ORIGIN="@REPOMGR_ORIGIN@"

export BUILDER_URL=http://@PROJECT@-stx-pkgbuilder:8080/pkgbuilder/

export OSTREE_OSNAME=@OSTREE_OSNAME@

export DEBIAN_SNAPSHOT="@DEBIAN_SNAPSHOT@"

export DEBIAN_SECURITY_SNAPSHOT="@DEBIAN_SECURITY_SNAPSHOT@"

export DEBIAN_DISTRIBUTION="@DEBIAN_DISTRIBUTION@"

export DEBIAN_VERSION="@DEBIAN_VERSION@"

export MAX_CPUS=@MAX_CPUS@

export BUILDER_FILES_URL="http://@PROJECT@-stx-builder-files-http:8088"
